@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

body{
    background-color: #d6d6d6 !important;
    font-size: 24px;
    font-family: 'Maven Pro', sans-serif;
}


#root{
    width: 50%;
    margin: auto;
}
.form-head{
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 3rem;
}


.my-form{
    margin-bottom: 50px;
    margin-top: 8%;
    padding: 5%;
    background-color: white !important;
}

.label-text{
    display: block;
    padding-bottom: 1%;
}

.form-field{
    padding: 2%;
}

.submit-button{
    display: block;
    background-color: #007bff;
    border-radius: 2%;
    box-shadow: none;
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    font-family: 'Maven Pro', sans-serif;
    margin: auto;
}
.form-field > input,textarea{
  width: 50%;
  border: none;
  border-radius: 3px;
  margin-bottom: 20px;
  font-family: 'Maven Pro', sans-serif;
  border-bottom: 1px solid black;
  font-size: 1.2rem;
  background: #fff;
  color: #3b3b3b;
  outline: none;
  resize: none;
}

.form-field > input:focus{
    border: none;
    border-bottom: 1px solid #007bff;
    
}

.form-field > select{
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.2rem;
    padding: 10px 5px;
}
option{
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.2rem;
    padding: 10px 5px;
}

.final-button{
    padding-top: 5%;
    width: 50%;
    margin: auto;
}

.radio-input{
    padding: 10px 0;
}
.starting-div{
    height: 100vh;
    width: 100%;
}
.get-started{
    margin-top: 40%;
}
.get-started-head{
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 48px;
    color: #041424;
}
.get-started-btn{
    background-color: black;
}
.page-count{
    margin: 0 42%;
    display: inline;
}
.prev-btn{
    display: inline !important;
}
.next-btn{
    margin-right: 0;
    display: inline !important;
}

.header{
    width: 100%;
}

.main-form{
    margin-left: 10px;
    margin-top: 40px;
    
}

@media only screen and (max-width: 1200px) {
    #root{
        width: 80%;
    }
    .page-count{
        margin: 0 32%;
        display: inline;
    }
    .form-field > input,textarea{
        width: 80%;
    }
}